*{
     margin: 0;
     padding: 0;
     font-family: "Open Sans", sans-serif;
}
body{
     background-color: #F3F4F6;
}
.bg-dark-transparent{
     background-color: #f0e5cfc9
     ;
}
.fs-30{
     font-size: 30px;
}
.fs-50{
     font-size: 50px;
}
html{
	scroll-behavior: smooth;
}

/* header */




/* footer */
footer{
     background-color: #f3eee5

}
.bg-footer-dark{
     background-color: #000000;
}
.footer-link-item{
     color: #000000;
     font-weight: bold;
     text-decoration-line: none;
}
.footer-link-item:hover{
     color: crimson;
     font-weight: normal;
}
.icon-link{
     color: rgb(5, 5, 5);
     font-size: 40px;
     font-weight: bold;
}
.icon-link:hover{
     color: crimson;
     font-weight: normal;
}
.gotoupbtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgb(19, 95, 48);
	bottom: 40px;
	right: 50px;
	border-radius: 2px;
	text-align: center;
	line-height: 50px;
	color: #e3e3e3;
	font-size: 30px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
	z-index: 1;
}
.gotoupbtn:hover{
	font-size: 25px;
	background: rgb(15, 73, 37);
	color: rgb(78, 30, 30);
	width: 48px;
	height: 48px;
	border-radius: 50%;
}
.custom-btn{
     color: rgb(5, 5, 5);
     font-weight: bold;
}
.custom-btn:hover{
     background-color: crimson;
     font-weight: normal;
     color: white;
}
/* Home page */
.circle-img{
     border-radius: 50%;
}
.icon-style{
     color: rgb(5, 5, 5);
     font-size: 30px;
}
.shadow-bg{
     background: rgb(228,228,228);
     background: radial-gradient(circle, rgba(228,228,228,1) 17%, rgba(208,205,253,1) 18%, rgba(220,213,255,1) 30%, rgba(228,227,229,1) 37%, rgba(206,203,255,1) 55%);
}
.height-5{
     height: 250px;
}

/* menu */
/* card */
.card-menu{
     background-color: #fff9e9;
}
.breadcrumb{
     background-color: #f3eee5;
}
.breadcrumb-item{
     color: #000000;
     
}

/* about */

#bg{
	background-image: url('img/aboutus/png4.jpg');
	background-attachment: fixed;
	background-position: center;
}
.about{
	width: 100;
	height: 100;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}
.about .content img{
	width: 600px;
	max-width: 100%;
	box-shadow: 0 5px 15px 0px rgba(0,0,0, .5);
}

.about .content img:hover{
	width: 630px;
	max-width: 130%;
}
.text{
	width: 550px;
	max-width: 100%;
}

.content{
	width: 1280px;
	max-width: 95%;
	align-items: center;
	justify-content: space-around;
}
.text h10{
	color: #F8D210;
	font-size: 50px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.text p{
	font-size: 18px;
	margin-bottom: 70px;

}

#aboutlink{
	color: #4C5270;
	text-decoration: underline;
	font-size: 20px;
}

#aboutlink:hover{
	color: #F8D210;
	font-size: 20px;
}

button{
	background-color: #F8D210;
	color: #4C5270;
	border: 2px solid transparent;
	padding: 10px 30px;
	border-radius: 30px;
	text-decoration: none;
	font-size: 17px;
	margin-bottom: 70px;
}

button:hover{
	text-decoration: underline;
	padding: 6px 16px;
}

/* contact us */

.text-color{
    color: rgb(24, 109, 179);
    font-weight: bold;
}
.bg-bw{
    background-color: rgba(222, 184, 135, 0.774);
}